body{
    background-image: linear-gradient(315deg, #eec0c6 0%, #7ee8fa 74%);
    display: flex;
    justify-content: flex-end;
}
.navigation{
    background-color: aquamarine;
    height: 450px;
    width: 300px;
    border-radius: 10px;
    margin-top: 100px;
    border:1px solid wheat;

}
.dot{
    font-size: 30px;
    color:greenyellow;
    position: relative;
}
.name{
    font-weight: bold;
    color: whitesmoke;
    position: absolute;
    top:9px;
    left:14px;
}
.nav1{
    position: relative;
    top: 2px;
}
.nav2{
    position: absolute;
    right: 20px;
    top:130px ;
}
.nav2 span{
    margin-left: 10px;
    color: white;
}
nav{
    background-color: rgb(94, 94, 233);
    padding: 10px;
    border-radius:10px 10px 0px 0px;
}
.image{
    height:40px;
    width: 40px;
    border-radius: 50%;
}
.chat1{
    padding-top: 18px;
    position: relative;
    left: 8px;
}
.text{
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline-style: none;
    background-color:white;
    position:absolute;
    left:70px;
    top:22px;
}
.time{
    text-align: center;
    font-size: 12px;
}
.image1{
    height:40px ;
    width: 40px;
    border-radius: 50%;
    position: relative;
    left: 10px;
}
.text1{
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline-style: none;
    background-color:white;
    position: absolute;
    right:50px;
    top:270px;
}
.text2{
    padding: 15px 15px 0px 55px ;
}
.para{
    text-align: right;
    background-color: rgb(94, 94, 233);
    color: whitesmoke;
    border-radius: 10px 10px 0px 10px;
    padding: 5px 30px 5px 0px ;
}
.para1{
    text-align: center;
    background-color: rgb(94, 94, 233);
    color: whitesmoke;
    padding: 5px 30px 5px 0px ;
    border-radius: 20px 0px 20px 20px;
}
.image2{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    position: relative;
    left: 10px;
}
.text3{
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color:white;
    outline-style: none;
    position: absolute;
    right:42px;
    bottom: 68px;
}
.typemsg{
    border: none;
    margin-left: 10px;
    outline-style: none;
    border-radius: 10px;
    padding: 4px;
}
.icons{
    padding: 10px;
    margin-left: 10px;
}
.icons span{
    margin-left: 10px;
} 